.text-left {
    text-align: left;
}

.text {
    color: @text-color-grey;
}

.text2 {
    color: @text-color-main2;
}

.black {
    color: #000000;
}

.green {
    color: @green;
}

.greenBackground {
    background: @green;
}

.red {
    color: @red;
}

.redBackground {
    background: @red;
}

.bigFont {
    font-size: 24px;
}

.smallFont {
    font-size: 12px;
}